@font-face {
    font-family: Poppins;
    src: url('/assets/Poppins/Poppins-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.container {
    background: #0F0F0F;
    height: 100vh;
    width: 100%;
    color: black;
    padding: 1rem;
}
.todo{
    width: 100%;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 1rem;
    background: white;
}
.todo h2{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1rem;
    margin-bottom: 2rem;
}
.todo h2 svg{
    width: 30px;
    height: 30px;
    fill: #cb2e2e;
    margin-right: 1rem;
    
}
.todo.error{
    animation: errorEffect 0.3s linear 1;
}
@keyframes errorEffect {
    0%{
        transform: translate(10px, 5px);
}
    25%{
        transform: translate(-5px, 0);
}
    50%{
        transform: translate(8px, 2px);
}
    75%{
        transform: translate(-2px, 5px);
}
    100%{
        transform: translate(0, 0);
    }
}
.row{
    display: flex;
    align-items: center;
    background-color: #edeef0;
    border-radius: 3rem;
    padding-left: 1rem;
    margin-bottom: 2.5rem;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem;
    width: auto;
}
button{
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0 0 2rem 2rem;
    background: #cb2e2e;
    color: white;
    cursor: pointer;
}
button:hover{
    background: #a92e2e;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(./assets/unchecked.svg);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./assets/checked.svg);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #0F0F0F;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #cb2e2e;
    color: white;
}
@media (max-width: 600px) {
    .row {
      flex-direction: column;
      align-items: stretch;
      padding: 0;
      border-radius: 1rem 1rem 2rem 2rem;
}
  
    input {
      width: 100%;
      padding: 1rem;
      padding-left: 2rem;
      font-size: 1rem;
}
  
    button {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
    }
  
    ul li {
      font-size: 20px;
      padding: 10px;
      padding-left: 3rem;
      padding-top: 1rem;
    }
  }
